// TODO: painfull theme and mode switch (performance)
:root {
  --mermaid-node-bg-primary: hsl(var(--hue), 15%, 95%);
  --mermaid-node-bg-secondary: hsl(var(--hue), 20%, 70%);
  --mermaid-node-text-primary: hsl(var(--hue), 80%, 15%);
  --mermaid-node-text-secondary: hsl(var(--hue), 75%, 30%);
  --mermaid-node-border-primary: hsl(var(--hue), 30%, 80%);
  --mermaid-node-border-secondary: hsl(var(--hue), 35%, 10%);
  --mermaid-line-primary: hsl(var(--hue), 40%, 40%);
  --mermaid-line-secondary: hsl(var(--hue), 80%, 40%);
  --mermaid-text-primary: #333;
  --mermaid-text-secondary: #555;
  --mermaid-container-primary: hsl(var(--hue), 5%, 98%);

  --mermaid-gantt-exclude: hsl(var(--hue), 50%, 90%);
  --mermaid-gantt-section: rgba(0, 0, 0, 0.2);
}

.dark {
  --mermaid-node-bg-primary: hsl(var(--hue), 20%, 15%);
  --mermaid-node-bg-secondary: hsl(var(--hue), 20%, 50%);
  --mermaid-node-text-primary: hsl(var(--hue), 10%, 90%);
  --mermaid-node-text-secondary: hsl(var(--hue), 5%, 80%);
  --mermaid-node-border-primary: hsl(var(--hue), 25%, 30%);
  --mermaid-node-border-secondary: hsl(var(--hue), 20%, 70%);
  --mermaid-line-primary: hsl(var(--hue), 30%, 65%);
  --mermaid-line-secondary: hsl(var(--hue), 55%, 40%);
  --mermaid-text-primary: #eee;
  --mermaid-text-secondary: #bbb;
  --mermaid-container-primary: hsl(var(--hue), 20%, 10%);

  --mermaid-gantt-exclude: hsl(var(--hue), 95%, 5%);
  --mermaid-gantt-section: rgba(255, 255, 255, 0.8);
}

/* SVG */
svg[id^="mermaid-"] {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  height: auto !important;
}

/* FLOWCHART */
/* cannot override junction shape */
svg[aria-roledescription="flowchart-v2"] {
  .label-container,
  .node circle,
  .node path {
    fill: var(--mermaid-node-bg-primary) !important;
    stroke: var(--mermaid-node-border-primary) !important;
    stroke-width: 1.5px !important;
  }

  .nodeLabel { 
    color: var(--mermaid-node-text-primary) !important;
  }

  .labelBkg p {
    background-color: var(--card-bg) !important;
  }

  .edgeLabel { 
    color: var(--mermaid-node-text-primary) !important;
  }

  .edgePaths path { 
    stroke: var(--mermaid-line-primary) !important;
  }

  marker path,
  marker circle {
    fill: var(--mermaid-line-primary) !important; 
    stroke: var(--mermaid-line-primary) !important;
  }

  .cluster rect {
    fill: var(--mermaid-container-primary) !important;
    stroke: var(--mermaid-line-primary) !important;
    stroke-width: 0.5px !important;
  }

  .node rect[class="text"] {
    fill: none !important;
    stroke: none !important;
    stroke-width: none !important;
  }
}

/* SWIMLANES DIAGRAM */
/* cannot override container stroke color */
svg[aria-roledescription="swimlane"] {
  .label-container,
  .label-container path {
    fill: var(--mermaid-node-bg-primary) !important;
    stroke: var(--mermaid-node-border-primary) !important;
  }

  .swimlane-title,
  .swimlane-body {
    fill: var(--mermaid-container-primary) !important;
  }

  .edgePath path {
    stroke: var(--mermaid-line-primary) !important;
  }

  [id*="_swimlane-pointEnd"] {
    fill: var(--mermaid-line-primary) !important;
  }

  .edgeLabel .label foreignObject div .nodeLabel p {
    background-color: var(--card-bg) !important;
  }

  .nodeLabel {
    color: var(--mermaid-node-text-primary) !important;
  }
}

/* SEQUENCE DIAGRAM */
svg[aria-roledescription="sequence"] {
  .messageText,
  .sectionTitle,
  .actor-man tspan,
  .text tspan {
    fill: var(--mermaid-text-primary) !important;
  }
  
  .loopText tspan,
  .sectionTitle {
    fill: var(--mermaid-text-secondary) !important;
  }
  
  .labelBox {
    fill: var(--mermaid-node-bg-secondary) !important;
    stroke: var(--mermaid-node-border-secondary) !important;
  }
  .labelText {
    fill: var(--mermaid-node-text-secondary) !important;
  }
  
  g rect.actor,
  .actor circle,
  g .actor,
  .actor g,
  g .note {
    fill: var(--mermaid-node-bg-primary) !important;
    stroke: var(--mermaid-node-border-primary) !important;
  }
  .actor-box tspan,
  .noteText tspan {
    fill: var(--mermaid-node-text-primary) !important;
  }
  
  rect[class^="activation"] {
    fill: var(--mermaid-node-bg-secondary) !important;
    stroke: var(--mermaid-node-border-primary) !important;
    stroke-width: 2px;
  }
  
  .actor-line,
  line[class^="messageLine"] {
    stroke: var(--mermaid-line-primary) !important;
  }
  .loopLine,
  path[class^="messageLine"] {
    stroke: var(--mermaid-line-secondary) !important;
  }

  // #arrowhead
  [id*="arrowhead"] path {
    fill: var(--mermaid-line-primary) !important;
    stroke: var(--mermaid-line-primary) !important;
  }

  
  .actor-man circle,
  .actor-man line,
  [id*="filled-head-control"] path {
    fill: var(--mermaid-node-bg-primary) !important;
    stroke: var(--mermaid-text-secondary) !important;
  }
  .actor line {
    stroke: var(--mermaid-text-secondary) !important;
  }


  .sequenceNumber {
    fill: var(--mermaid-text-primary) !important;
  }

  g circle,
  [id*="sequencenumber"] circle {
    fill: var(--mermaid-node-bg-secondary) !important;
  }
}

/* CLASS DIAGRAM */
/* cannot override note background color */
svg[aria-roledescription="class"] {
  .label-container path {
    fill: var(--mermaid-node-bg-primary) !important;
    stroke: var(--mermaid-node-border-primary) !important;
  }
  .divider path {
    stroke: var(--mermaid-node-border-secondary) !important;
  }

  .nodeLabel {
    color: var(--mermaid-text-primary) !important;
  }

  .edgePaths path {
    stroke: var(--mermaid-line-primary) !important;
  }

  [id*="extension"] path,
  [id*="aggregation"] path,
  [id*="lollipop"] circle {
    fill: none !important; 
    stroke: var(--mermaid-line-primary) !important;
  }
  [id*="-composition"] path,
  [id*="-dependency"] path {
    fill: var(--mermaid-line-primary) !important;
  }

  .edgeLabel p {
    background-color: var(--card-bg) !important;
    color: var(--mermaid-text-primary) !important;
  }

  .clusters .cluster rect {
    fill: var(--mermaid-container-primary) !important;
    stroke: var(--mermaid-node-border-secondary) !important;
  }

  .classDiagramTitleText {
    fill: var(--mermaid-text-primary) !important;
  }
}

/* STATE DIAGRAM */
/* cannot change the inner nested composite background color */
svg[aria-roledescription="stateDiagram"] {
  .node rect {
    fill: var(--mermaid-node-bg-primary) !important;
    stroke: var(--mermaid-node-border-primary) !important;
  }

  .nodeLabel {
    color: var(--mermaid-text-primary) !important;
  }

  [id*="-if_state-"] path {
    fill: none !important;
    stroke: var(--mermaid-node-border-primary) !important;
  }

  [id*="-fork_state-"] path,
  [id*="-join_state-"] path {
    fill: var(--mermaid-line-primary) !important;
    stroke: var(--mermaid-line-primary) !important;
  }

  .label-container path {
    fill: var(--mermaid-node-bg-secondary) !important;
    stroke: var(--mermaid-node-border-secondary) !important;
  }

  .edgePaths path {
    stroke: var(--mermaid-line-primary) !important;
  }
  [id*="barbEnd"] {
    fill: var(--mermaid-line-primary) !important;
  }

  .state-start {
    fill: var(--mermaid-line-primary) !important;
  }

  [id*="_end-"] .outer-path > path {
    fill: transparent !important; 
    stroke: var(--mermaid-line-primary) !important;
  }
  [id*="_end-"] .outer-path g path {
    fill: var(--mermaid-line-primary) !important;
    stroke: var(--mermaid-line-primary) !important;
  }

  .edgeLabel {
    color: var(--mermaid-text-primary) !important;
  }
  .edgeLabel p {
    background-color: var(--card-bg) !important;
  }

  .statediagramTitleText {
    fill: var(--mermaid-text-primary) !important;
  }

  .statediagram-cluster rect.inner {
    stroke: var(--mermaid-node-border-primary);
  }
  .statediagram-cluster g rect.outer {
    fill: var(--mermaid-node-bg-primary) !important;
    stroke: var(--mermaid-node-border-primary);
  }
}

/* ENTITY RELATIONSHIP DIAGRAM */
svg[aria-roledescription="er"] {
  .outer-path path,
  .label-container {
    fill: var(--mermaid-node-border-primary) !important;
  }

  .row-rect-odd path {
    fill: var(--mermaid-node-bg-primary) !important;
  }

  .row-rect-even path {
    fill: var(--mermaid-node-bg-secondary) !important;
  }

  .edgePaths path {
    stroke: var(--mermaid-line-primary) !important;
  }

  .edgeLabel p {
    background-color: var(--card-bg) !important;
    color: var(--mermaid-text-primary) !important;
  }

  [id*="er-onlyOneStart"] path,
  [id*="er-onlyOneEnd"] path,
  [id*="er-zeroOrOneStart"] path,
  [id*="er-zeroOrOneEnd"] path,
  [id*="er-oneOrMoreStart"] path,
  [id*="er-oneOrMoreEnd"] path,
  [id*="er-zeroOrMoreStart"] path,
  [id*="er-zeroOrMoreEnd"] path {
    stroke: var(--mermaid-line-primary) !important;
  }
  [id*="er-zeroOrOneStart"] circle,
  [id*="er-zeroOrOneEnd"] circle,
  [id*="er-zeroOrMoreStart"] circle,
  [id*="er-zeroOrMoreEnd"] circle {
    fill: var(--mermaid-line-primary) !important;
  }

  .nodeLabel {
    color: var(--mermaid-text-primary) !important;
  }
}

/* User Journey Diagram */
svg[aria-roledescription="journey"] {
  .legend tspan,
  text {
    fill: var(--mermaid-text-primary);
  }
  
  line {
    stroke: var(--mermaid-text-primary) !important;
  }

  marker path {
    fill: var(--mermaid-text-primary) !important;
  }
}

/* GANTT DIAGRAM & BAR CHART */
/* cannot override text color of outside critical and done task text */
svg[aria-roledescription="gantt"] {
  .titleText,
  .sectionTitle tspan,
  .grid .tick text,
  g text[class*="taskTextOutsideRight" i],
  g text[class*="doneText" i],
  g text[class*="doneCritText" i],
  g text[class*="taskTextOutside" i] {
    fill: var(--mermaid-text-primary) !important;
  }

  rect[class*="crit"] {
    fill: #ee0000 !important;
    stroke: #ee0000 !important;
  }

  g text.taskText[class*="critText"] {
    fill: #fff !important;
  }

  rect[class*="active"] {
    fill: #a9a9ff !important;
  }

  /* bug UI: stroke don't have a same width and some stroke dissapear */
  .grid .tick line {
    stroke-width: 1.6px !important; /* to prevent some stroke dissapear, but it cost inconsistent width */
  }
  
  g rect.exclude-range {
    fill: var(--mermaid-gantt-exclude) !important;
  }

  @for $i from 0 through 8 {
    g .section[class$="#{$i * 2}"] {
      fill: var(--mermaid-gantt-section) !important;
    }
  }
}

/* PIE CHART */
svg[aria-roledescription="pie"] {
  .pieTitleText,
  .legend text {
    fill: var(--mermaid-text-primary) !important;
  }
  
  .legend rect {
    stroke: var(--mermaid-text-primary) !important;
  }
}

/* QUADRANT CHART */
/* bug UI: sometimes the 4th border lines are not visible */
svg[aria-roledescription="quadrantChart"] {
  .title text,
  .label text {
    fill: var(--mermaid-text-primary) !important;
  }

  .quadrants {
    text {
      fill: var(--mermaid-text-secondary) !important;
    }

    .quadrant:nth-child(1) rect {
      fill: color-mix(in hsl, var(--mermaid-node-bg-primary), black 15%) !important;
    }

    .quadrant:nth-child(2) rect {
      fill: color-mix(in hsl, var(--mermaid-node-bg-primary), black 20%) !important;
    }

    .quadrant:nth-child(3) rect {
      fill: color-mix(in hsl, var(--mermaid-node-bg-primary), black 25%) !important;
    }

    .quadrant:nth-child(4) rect {
      fill: color-mix(in hsl, var(--mermaid-node-bg-primary), black 30%) !important;
    }
  }

  .border line {
    stroke: var(--mermaid-line-primary) !important;
  }

  .data-point text,
  .data-point circle {
    fill: var(--mermaid-text-primary) !important;
  }
}

/* REQUIREMENT DIAGRAM */
svg[aria-roledescription="requirement"] {
  .label-container path {
    fill: var(--mermaid-node-bg-primary);
    stroke: var(--mermaid-node-border-primary);
  }

  .nodeLabel {
    color: var(--mermaid-text-primary) !important;
  }

  .divider path {
    stroke: var(--mermaid-node-border-secondary);
  }

  .edgeLabel p {
    background-color: var(--card-bg);
    color: var(--mermaid-text-primary);
  }

  .edgePaths path {
    stroke: var(--mermaid-line-primary) !important;
  }

  marker {
    g, path {
      stroke: var(--mermaid-line-primary);
    }
  }
}

/* Git Graph */
// svg[aria-roledescription="gitGraph"] {}

/* C4 Diagram */
svg[aria-roledescription="c4"] {
  text {
    fill: var(--mermaid-text-primary);
  }
}

/* MIND MAP */
// svg[aria-roledescription="mindmap"] {}

/* TIMELINE DIAGRAM */
svg[aria-roledescription="timeline"] {
  > text {
    fill: var(--mermaid-text-primary) !important;
  }

  .lineWrapper line {
    stroke: var(--mermaid-text-primary) !important;
  }

  marker path {
    fill: var(--mermaid-text-primary) !important;
  }
}

/* ZEN UML */

/* SANKEY DIAGRAM */
/* bug UI: diagram disappear on hover in Firefox */
svg[aria-roledescription="sankey"] {
  text {
    fill: var(--mermaid-text-primary) !important;
  }
}

/* XY CHART */
/* bug UI: sometimes the line chart not rendering correctly */
svg[aria-roledescription="xychart"] {
  .chart-title text,
  .label text,
  .title text {
    fill: var(--mermaid-text-primary);
  }

  .axis-line path,
  .axisl-line path,
  .ticks path {
    stroke: var(--mermaid-text-primary);
  }

  .plot {
    rect {
      fill: #7777ff;
    }

    path {
      stroke: #77ff77;
    }
  
    text {
      fill: var(--mermaid-text-primary);
    }

    text[dominant-baseline="hanging"] {
      fill: #fff;
    }
  }
}

/* BLOCK DIAGRAM */

/* PACKET DIAGRAM */
svg[aria-roledescription="packet"] {
  .packetBlock {
    fill: var(--mermaid-node-bg-primary) !important;
    stroke: var(--mermaid-node-border-primary) !important;
  }

  .packetLabel {
    fill: var(--mermaid-node-text-primary) !important;
  }

  > text,
  .packetByte {
    fill: var(--mermaid-text-primary) !important;
  }
}

/* KANBAN DIAGRAM */
svg[aria-roledescription="kanban"] {
  .label-container {
    stroke: #222 !important;
    fill: #eee !important;
  }
}

/* ARCHITECTURE */

/* RADAR DIAGRAM */
svg[aria-roledescription="radar"] {
  text {
    fill: var(--mermaid-text-primary) !important;
  }
}

/* EVENT MODELING */
/* data blocks is not supported */
svg[aria-roledescription="eventmodeling"] {
  .em-swimlane rect {
    fill: #999;
    stroke: #999;
  }

  .em-relation {
    stroke: #ccc;
    stroke-width: 2px;
  }

  marker polygon {
    fill: #ccc;
  }

  text {
    fill: #fff;
  }

  b {
    color: #111;
  }
}

/* TREEMAP DIAGRAM */
// svg[aria-roledescription="treemap"] {}

/* VENN DIAGRAM */
svg[aria-roledescription="venn"] {
  tspan {
    fill: var(--mermaid-text-primary) !important;
  }

  .venn-text-node {
    color: var(--mermaid-text-secondary) !important;
  }
}

/* ISHIKAWA DIAGRAM */
svg[aria-roledescription="ishikawa"] {
  .ishikawa-label-box,
  .ishikawa-head {
    fill: var(--mermaid-node-bg-primary) !important;
    stroke: var(--mermaid-node-border-primary) !important;
  }

  tspan {
    fill: var(--mermaid-text-primary) !important;
  }

  .ishikawa-spine,
  .ishikawa-branch,
  .ishikawa-sub-branch {
    stroke: var(--mermaid-line-primary) !important;
  }

  .ishikawa-arrow {
    fill: var(--mermaid-line-primary) !important;
  }
}

/* WARDLEY */

/* CYNEFIN */
svg[aria-roledescription="cynefin"] {
  .cynefinTitle {
    fill: var(--mermaid-text-primary) !important;
  }

  .cynefinDomainLabel,
  .cynefinSubtitle,
  .cynefinArrowLabel,
  .cynefinItemText {
    fill: #fff !important;
  }

  .cynefin-backgrounds {
    .cynefinDomain {
      fill-opacity: 0.8 !important;
    }

    .cynefinDomain:nth-child(1) {
      fill: #1b361f !important;
    }

    .cynefinDomain:nth-child(2) {
      fill: #152d53 !important;
    }

    .cynefinDomain:nth-child(3) {
      fill: #5d2617 !important;
    }

    .cynefinDomain:nth-child(4) {
      fill: #72431c !important;
    }
  }

  .cynefinConfusion {
    fill: #444499 !important;
    stroke: #fff !important;
  }

  .cynefinItem {
    fill: #000 !important;
    fill-opacity: 0.2 !important;
    stroke: #fff !important;
  }

  .cynefinBoundary {
    stroke: #fff !important;
  }

  .cynefinArrowLine {
    stroke: #fff !important;
  }

  .cynefinArrowHead {
    fill: #fff !important;
  }
}

/* TREE VIEW */
