:root {
  --mermaid-flowchart-class-state-node-bg: hsl(var(--hue), 15%, 95%);
  --mermaid-flowchart-class-state-node-text: hsl(var(--hue), 80%, 15%);
  --mermaid-flowchart-class-state-node-border: hsl(var(--hue), 30%, 80%);
  --mermaid-flowchart-class-state-line: hsl(var(--hue), 40%, 40%);
  --mermaid-class-namespace: hsl(var(--hue), 5%, 98%);
}

.dark {
  --mermaid-flowchart-class-state-node-bg: hsl(var(--hue), 20%, 15%);
  --mermaid-flowchart-class-state-node-text: hsl(var(--hue), 10%, 90%);
  --mermaid-flowchart-class-state-node-border: hsl(var(--hue), 25%, 30%);
  --mermaid-flowchart-class-state-line: hsl(var(--hue), 30%, 65%);
  --mermaid-class-namespace: hsl(var(--hue), 20%, 10%);
}


/*

FLOWCHART,
CLASS DIAGRAM,
STATE DIAGRAM

*/
.node rect, 
.node circle, 
.node polygon, 
.node path, 
.node ellipse,
.node .outer { 
  fill: var(--mermaid-flowchart-class-state-node-bg); 
  stroke: var(--mermaid-flowchart-class-state-node-border);
  stroke-width: 1.5px !important;
}

.nodeLabel { 
  color: var(--mermaid-flowchart-class-state-node-text) !important;
}

.edgePaths path { 
  stroke: var(--mermaid-flowchart-class-state-line) !important;
}

marker path,
marker circle {
  fill: var(--mermaid-flowchart-class-state-line) !important; 
  stroke: var(--mermaid-flowchart-class-state-line) !important;
}

[id*="extensionStart"] path,
[id*="extensionEnd"] path,
[id*="aggregationStart"] path,
[id*="aggregationEnd"] path,
[id*="lollipopStart"] circle,
[id*="lollipopEnd"] circle {
  fill: none !important; 
  stroke: var(--mermaid-flowchart-class-state-line) !important;
}

.labelBkg p {
  background-color: var(--card-bg) !important;
}

.edgeLabel { 
  color: var(--mermaid-flowchart-class-state-node-text) !important;
}

svg[id^="mermaid-"] .cluster rect {
  fill: var(--mermaid-class-namespace) !important;
  stroke: var(--mermaid-flowchart-class-state-line) !important;
  stroke-width: 0.5px !important;
}

/* cannot change the note background color (class diagram) */
svg[id^="mermaid-"] [id*="-note"] .nodeLabel p {
  color: hsl(var(--hue), 80%, 15%);
}

svg[id^="mermaid-"] [id*="_start-"] .state-start {
  fill: var(--mermaid-flowchart-class-state-line) !important;
}

svg[id^="mermaid-"] [id*="_end-"] .outer-path > path {
  fill: transparent !important; 
  stroke: var(--mermaid-flowchart-class-state-line) !important;
}
svg[id^="mermaid-"] [id*="_end-"] .outer-path g path {
  fill: var(--mermaid-flowchart-class-state-line) !important;
  stroke: var(--mermaid-flowchart-class-state-line) !important;
}

svg[id^="mermaid-"] [id*="-if_state-"] path {
  fill: none !important;
  stroke: var(--mermaid-flowchart-class-state-node-border) !important;
}

svg[id^="mermaid-"] [id*="-fork_state-"] path,
svg[id^="mermaid-"] [id*="-join_state-"] path {
  fill: var(--mermaid-flowchart-class-state-line) !important;
  stroke: var(--mermaid-flowchart-class-state-line) !important;
}

/* cannot change the inner nested composite background color (state diagram) */
.statediagram-cluster rect.inner {
  stroke: var(--mermaid-flowchart-class-state-node-border);
}
.statediagram-cluster g rect.outer {
  fill: var(--mermaid-flowchart-class-state-node-bg) !important;
  stroke: var(--mermaid-flowchart-class-state-node-border);
}

svg[class^="statediagram"] [id*="-note"] .nodeLabel p {
  color: var(--mermaid-flowchart-class-state-node-text);
}

/*

SVG

*/
svg[id^="mermaid-"] {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  height: auto !important;
}

svg[id^="mermaid-"] * {
  transition: fill 0.3s ease, stroke 0.3s ease, color 0.3s ease;
}