// TODO: painfull theme and mode switch (performance)
:root {
  --mermaid-node-bg-primary: hsl(var(--hue), 15%, 95%);
  --mermaid-node-bg-secondary: hsl(var(--hue), 20%, 70%);
  --mermaid-node-text-primary: hsl(var(--hue), 80%, 15%);
  --mermaid-node-text-secondary: hsl(var(--hue), 75%, 30%);
  --mermaid-node-border-primary: hsl(var(--hue), 30%, 80%);
  --mermaid-node-border-secondary: hsl(var(--hue), 35%, 10%);
  --mermaid-line-primary: hsl(var(--hue), 40%, 40%);
  --mermaid-line-secondary: hsl(var(--hue), 80%, 40%);
  --mermaid-text-primary: #333;
  --mermaid-text-secondary: #555;
  --mermaid-text-contrast: #000;
  --mermaid-text-contrast-reverse: #fff;
  --mermaid-container-primary: hsl(var(--hue), 5%, 98%);

  --mermaid-gantt-exclude: hsl(var(--hue), 50%, 90%);
  --mermaid-gantt-section: rgba(0, 0, 0, 0.2);

  --mermaid-quadrant-1: color-mix(in hsl, var(--mermaid-node-bg-primary), black 15%);
  --mermaid-quadrant-2: color-mix(in hsl, var(--mermaid-node-bg-primary), black 20%);
  --mermaid-quadrant-3: color-mix(in hsl, var(--mermaid-node-bg-primary), black 25%);
  --mermaid-quadrant-4: color-mix(in hsl, var(--mermaid-node-bg-primary), black 30%);
}

.dark {
  --mermaid-node-bg-primary: hsl(var(--hue), 20%, 15%);
  --mermaid-node-bg-secondary: hsl(var(--hue), 20%, 50%);
  --mermaid-node-text-primary: hsl(var(--hue), 10%, 90%);
  --mermaid-node-text-secondary: hsl(var(--hue), 5%, 80%);
  --mermaid-node-border-primary: hsl(var(--hue), 25%, 30%);
  --mermaid-node-border-secondary: hsl(var(--hue), 20%, 70%);
  --mermaid-line-primary: hsl(var(--hue), 30%, 65%);
  --mermaid-line-secondary: hsl(var(--hue), 55%, 40%);
  --mermaid-text-primary: #eee;
  --mermaid-text-secondary: #bbb;
  --mermaid-text-contrast: #fff;
  --mermaid-text-contrast-reverse: #000;
  --mermaid-container-primary: hsl(var(--hue), 20%, 10%);

  --mermaid-gantt-exclude: hsl(var(--hue), 95%, 5%);
  --mermaid-gantt-section: rgba(255, 255, 255, 0.8);
}

/* SVG */
svg[id^="mermaid-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: auto;
}

/* FLOWCHART */
/* cannot override junction shape */
svg[aria-roledescription="flowchart-v2"] {
  .label-container,
  .node circle,
  .node path {
    fill: var(--mermaid-node-bg-primary) !important;
    stroke: var(--mermaid-node-border-primary) !important;
    stroke-width: 1.5px !important;
  }

  .nodeLabel { 
    color: var(--mermaid-node-text-primary) !important;
  }

  .labelBkg p {
    background-color: var(--card-bg) !important;
  }

  .edgeLabel { 
    color: var(--mermaid-node-text-primary) !important;
  }

  .edgePaths path { 
    stroke: var(--mermaid-line-primary) !important;
  }

  marker {
    path, 
    circle {
      fill: var(--mermaid-line-primary); 
      stroke: var(--mermaid-line-primary);
    }
  }

  .cluster rect {
    fill: var(--mermaid-container-primary) !important;
    stroke: var(--mermaid-line-primary) !important;
    stroke-width: 0.5px !important;
  }
}

/* SWIMLANES DIAGRAM */
/* cannot override container stroke color */
svg[aria-roledescription="swimlane"] {
  .label-container,
  .label-container path {
    fill: var(--mermaid-node-bg-primary) !important;
    stroke: var(--mermaid-node-border-primary) !important;
  }

  .swimlane-title,
  .swimlane-body {
    fill: var(--mermaid-container-primary) !important;
  }

  .edgePath path {
    stroke: var(--mermaid-line-primary) !important;
  }

  .marker {
    fill: var(--mermaid-line-primary) !important;
  }

  .edgeLabel p {
    background-color: var(--card-bg) !important;
  }

  .nodeLabel {
    color: var(--mermaid-node-text-primary) !important;
  }
}

/* SEQUENCE DIAGRAM */
svg[aria-roledescription="sequence"] {
  .messageText,
  .sectionTitle,
  .actor-man tspan,
  .text tspan {
    fill: var(--mermaid-text-primary) !important;
  }
  
  .loopText tspan,
  .sectionTitle {
    fill: var(--mermaid-text-secondary) !important;
  }
  
  .labelBox {
    fill: var(--mermaid-node-bg-secondary) !important;
    stroke: var(--mermaid-node-border-secondary) !important;
  }
  .labelText {
    fill: var(--mermaid-node-text-secondary) !important;
  }
  
  g rect.actor,
  .actor circle,
  g .actor,
  .actor g,
  g .note {
    fill: var(--mermaid-node-bg-primary) !important;
    stroke: var(--mermaid-node-border-primary) !important;
  }
  .actor-box tspan,
  .noteText tspan {
    fill: var(--mermaid-node-text-primary) !important;
  }
  
  rect[class^="activation"] {
    fill: var(--mermaid-node-bg-secondary) !important;
    stroke: var(--mermaid-node-border-primary) !important;
    stroke-width: 2px;
  }
  
  .actor-line,
  line[class^="messageLine"] {
    stroke: var(--mermaid-line-primary) !important;
  }
  .loopLine,
  path[class^="messageLine"] {
    stroke: var(--mermaid-line-secondary) !important;
  }

  marker path {
    fill: var(--mermaid-line-primary) !important;
    stroke: var(--mermaid-line-primary) !important;
  }

  .actor-man {
    circle,
    line,
    path {
      fill: var(--mermaid-node-bg-primary) !important;
      stroke: var(--mermaid-text-secondary) !important;
    }
  }
  
  .actor line {
    stroke: var(--mermaid-text-secondary);
  }

  g circle,
  marker circle {
    fill: var(--mermaid-node-bg-secondary);
  }

  .sequenceNumber {
    fill: var(--mermaid-text-primary) !important;
  }
}

/* CLASS DIAGRAM */
/* cannot override note background color */
svg[aria-roledescription="class"] {
  .label-container path {
    fill: var(--mermaid-node-bg-primary) !important;
    stroke: var(--mermaid-node-border-primary) !important;
  }
  .divider path {
    stroke: var(--mermaid-node-border-secondary) !important;
  }

  .nodeLabel p {
    color: var(--mermaid-text-primary);
  }

  .undefined .markdown-node-label p {
    color: #222;
  }

  .edgePaths path {
    stroke: var(--mermaid-line-primary) !important;
  }

  .extension path,
  .aggregation path,
  .lollipop circle {
    fill: none;
    stroke: var(--mermaid-line-primary);
  }
  .composition path,
  .dependency path {
    fill: var(--mermaid-line-primary);
  }

  .edgeLabel p {
    background-color: var(--card-bg);
    color: var(--mermaid-text-primary);
  }

  .cluster rect {
    fill: var(--mermaid-container-primary) !important;
    stroke: var(--mermaid-node-border-secondary) !important;
  }

  .classDiagramTitleText {
    fill: var(--mermaid-text-primary);
  }
}

/* STATE DIAGRAM */
svg[aria-roledescription="stateDiagram"] {
  .node rect {
    fill: var(--mermaid-node-bg-primary) !important;
    stroke: var(--mermaid-node-border-primary) !important;
  }

  .nodeLabel {
    color: var(--mermaid-text-primary) !important;
  }

  .statediagram-state path,
  .statediagram-state path {
    fill: var(--mermaid-line-primary);
    stroke: var(--mermaid-line-primary);
  }

  [id*="state-if"] path {
    fill: none;
    stroke: var(--mermaid-node-border-primary);
  }

  .label-container path {
    fill: var(--mermaid-node-bg-secondary);
    stroke: var(--mermaid-node-border-secondary);
  }

  .edgePaths path {
    stroke: var(--mermaid-line-primary) !important;
  }
  marker {
    fill: var(--mermaid-line-primary) !important;
  }

  .state-start {
    fill: var(--mermaid-line-primary) !important;
  }

  [id*="_end-"] .outer-path > path {
    fill: none;
    stroke: var(--mermaid-line-primary);
  }
  [id*="_end-"] .outer-path g path {
    fill: var(--mermaid-line-primary);
    stroke: var(--mermaid-line-primary);
  }

  .edgeLabel {
    color: var(--mermaid-text-primary) !important;
  }
  .edgeLabel p {
    background-color: var(--card-bg) !important;
  }

  .statediagramTitleText {
    fill: var(--mermaid-text-primary) !important;
  }

  .statediagram-cluster {
    .inner {
      fill: var(--mermaid-node-bg-primary) !important;
      stroke: var(--mermaid-node-border-primary) !important;
    }
    .outer {
      fill: var(--mermaid-node-bg-secondary) !important;
      stroke: var(--mermaid-node-border-secondary) !important;
    }
  }
  .statediagram-cluster-alt {
    .inner {
      fill: var(--mermaid-container-primary) !important; 
    }
  }
}

/* ENTITY RELATIONSHIP DIAGRAM */
svg[aria-roledescription="er"] {
  .outer-path path,
  .label-container {
    fill: var(--mermaid-node-border-primary) !important;
  }

  .row-rect-odd path {
    fill: var(--mermaid-node-bg-primary);
  }

  .row-rect-even path {
    fill: var(--mermaid-node-bg-secondary);
  }

  .edgePaths path {
    stroke: var(--mermaid-line-primary) !important;
  }

  .edgeLabel p {
    background-color: var(--card-bg);
    color: var(--mermaid-text-primary);
  }

  .marker path {
    stroke: var(--mermaid-line-primary);
  }
  .marker circle {
    fill: var(--mermaid-line-primary);
  }

  .nodeLabel {
    color: var(--mermaid-text-primary);
  }
}

/* User Journey Diagram */
svg[aria-roledescription="journey"] {
  .legend tspan,
  text {
    fill: var(--mermaid-text-primary);
  }
  
  line {
    stroke: var(--mermaid-text-primary) !important;
  }

  marker path {
    fill: var(--mermaid-text-primary);
  }
}

/* GANTT DIAGRAM & BAR CHART */
/* cannot override text color of outside critical and done task text */
svg[aria-roledescription="gantt"] {
  .titleText,
  .sectionTitle tspan,
  .grid .tick text,
  .taskTextOutsideRight {
    fill: var(--mermaid-text-primary) !important;
  }

  /* bug UI: stroke don't have a same width and some stroke dissapear */
  .grid .tick line {
    stroke-width: 1.6px; /* to prevent some stroke dissapear, but it cost inconsistent width */
  }
  
  g rect.exclude-range {
    fill: var(--mermaid-gantt-exclude) !important;
  }

  @for $i from 0 through 8 {
    g .section[class$="#{$i * 2}"] {
      fill: var(--mermaid-gantt-section) !important;
    }
  }
}

/* PIE CHART */
svg[aria-roledescription="pie"] {
  .pieTitleText,
  .legend text {
    fill: var(--mermaid-text-primary) !important;
  }
  
  .legend rect {
    stroke: var(--mermaid-text-primary) !important;
  }
}

/* QUADRANT CHART */
/* bug UI: sometimes the 4th border lines are not visible */
svg[aria-roledescription="quadrantChart"] {
  .title text,
  .label text {
    fill: var(--mermaid-text-primary);
  }

  .quadrants {
    text {
      fill: var(--mermaid-text-secondary);
    }

    .quadrant:nth-child(1) rect {
      fill: var(--mermaid-quadrant-1);
    }

    .quadrant:nth-child(2) rect {
      fill: var(--mermaid-quadrant-2);
    }

    .quadrant:nth-child(3) rect {
      fill: var(--mermaid-quadrant-3);
    }

    .quadrant:nth-child(4) rect {
      fill: var(--mermaid-quadrant-4);
    }
  }

  .border line {
    stroke: var(--mermaid-line-primary) !important;
  }

  .data-point text,
  .data-point circle {
    fill: var(--mermaid-text-primary);
  }
}

/* REQUIREMENT DIAGRAM */
svg[aria-roledescription="requirement"] {
  .label-container path {
    fill: var(--mermaid-node-bg-primary);
    stroke: var(--mermaid-node-border-primary);
  }

  .nodeLabel {
    color: var(--mermaid-text-primary) !important;
  }

  .divider path {
    stroke: var(--mermaid-node-border-secondary);
  }

  .edgeLabel p {
    background-color: var(--card-bg);
    color: var(--mermaid-text-primary);
  }

  .edgePaths path {
    stroke: var(--mermaid-line-primary) !important;
  }

  marker {
    g,
    path {
      stroke: var(--mermaid-line-primary);
    }
  }
}

/* Git Graph */
// svg[aria-roledescription="gitGraph"] {}

/* C4 Diagram */
svg[aria-roledescription="c4"] {
  text {
    fill: var(--mermaid-text-primary);
  }
}

/* MIND MAP */
// svg[aria-roledescription="mindmap"] {}

/* TIMELINE DIAGRAM */
svg[aria-roledescription="timeline"] {
  > text {
    fill: var(--mermaid-text-primary);
  }

  .lineWrapper line {
    stroke: var(--mermaid-text-primary) !important;
  }

  marker path {
    fill: var(--mermaid-text-primary);
  }
}

/* ZEN UML */
/* not supported */
// svg[aria-roledescription="zenuml"] {}

/* SANKEY DIAGRAM */
/* bug UI: diagram disappear on hover in Firefox */
svg[aria-roledescription="sankey"] {
  text {
    fill: var(--mermaid-text-primary);
  }
}

/* XY CHART */
/* bug UI: sometimes the line chart not rendering correctly */
svg[aria-roledescription="xychart"] {
  .plot {
    path {
      stroke: #77ff77;
    }

    text[dominant-baseline="middle"] {
      fill: #5555dd;
    }
  }
}

/* BLOCK DIAGRAM */
svg[aria-roledescription="block"] {
  .node {
    polygon,
    rect,
    circle,
    path {
      fill: var(--mermaid-node-bg-primary) !important;
      stroke: var(--mermaid-node-border-primary) !important;
    }
  }

  .nodeLabel p {
    color: var(--mermaid-text-primary) !important;
  }
  
  rect.cluster {
    fill: var(--mermaid-container-primary) !important;
    stroke: var(--mermaid-node-border-secondary) !important;
  }

  .edgeLabel {
    background-color: var(--card-bg) !important;

    p {
      color: var(--mermaid-text-primary) !important;
    }
  }

  .edge-thickness-normal {
    stroke: var(--mermaid-line-primary) !important;
  }

  .arrowMarkerPath {
    fill: var(--mermaid-line-primary);
  }
}

/* PACKET DIAGRAM */
svg[aria-roledescription="packet"] {
  .packetBlock {
    fill: var(--mermaid-node-bg-primary) !important;
    stroke: var(--mermaid-node-border-primary) !important;
  }

  .packetLabel {
    fill: var(--mermaid-node-text-primary) !important;
  }

  > text,
  .packetByte {
    fill: var(--mermaid-text-primary) !important;
  }
}

/* KANBAN DIAGRAM */
// svg[aria-roledescription="kanban"] {}

/* ARCHITECTURE */
svg[aria-roledescription="architecture"] {
  tspan {
    fill: var(--mermaid-text-primary);
  }

  .node-bkg,
  .architecture-edges path {
    stroke: var(--mermaid-text-secondary) !important;
  }

  .arrow {
    fill: var(--mermaid-text-secondary) !important;
    stroke: var(--mermaid-text-secondary);
  }
}

/* RADAR DIAGRAM */
svg[aria-roledescription="radar"] {
  text {
    fill: var(--mermaid-text-primary);
  }
}

/* EVENT MODELING */
/* data blocks is not supported */
svg[aria-roledescription="eventmodeling"] {
  .em-swimlane rect {
    fill: #999;
    stroke: #999;
  }

  .em-relation {
    stroke: #ccc;
    stroke-width: 2px;
  }

  marker polygon {
    fill: #ccc;
  }

  text {
    fill: #fff;
  }

  b {
    color: #111;
  }
}

/* TREEMAP DIAGRAM */
// svg[aria-roledescription="treemap"] {}

/* VENN DIAGRAM */
svg[aria-roledescription="venn"] {
  .venn-intersection tspan {
    fill: var(--mermaid-text-primary);
  }

  .venn-text-node {
    color: var(--mermaid-text-secondary) !important;
  }
}

/* ISHIKAWA DIAGRAM */
svg[aria-roledescription="ishikawa"] {
  .ishikawa-label-box,
  .ishikawa-head {
    fill: var(--mermaid-node-bg-primary) !important;
    stroke: var(--mermaid-node-border-primary) !important;
  }

  tspan {
    fill: var(--mermaid-text-primary);
  }

  .ishikawa-spine,
  .ishikawa-branch,
  .ishikawa-sub-branch {
    stroke: var(--mermaid-line-primary) !important;
  }

  .ishikawa-arrow {
    fill: var(--mermaid-line-primary) !important;
  }
}

/* WARDLEY MAPS */
// svg[aria-roledescription="wardley"] {}

/* CYNEFIN FRAMEWORK DIAGRAM */
svg[aria-roledescription="cynefin"] {
  .cynefinTitle {
    fill: var(--mermaid-text-primary) !important;
  }

  .cynefinDomainLabel,
  .cynefinSubtitle,
  .cynefinArrowLabel,
  .cynefinItemText {
    fill: #fff !important;
  }

  .cynefin-backgrounds {
    .cynefinDomain {
      fill-opacity: 0.8;
    }

    .cynefinDomain:nth-child(1) {
      fill: #1b361f;
    }

    .cynefinDomain:nth-child(2) {
      fill: #152d53;
    }

    .cynefinDomain:nth-child(3) {
      fill: #5d2617;
    }

    .cynefinDomain:nth-child(4) {
      fill: #72431c;
    }
  }

  .cynefinConfusion {
    fill: #444499;
    stroke: #fff !important;
  }

  .cynefinItem {
    fill: #000;
    fill-opacity: 0.2 !important;
    stroke: #fff !important;
  }

  .cynefinBoundary {
    stroke: #fff !important;
  }

  .cynefinArrowLine {
    stroke: #fff !important;
  }

  .cynefinArrowHead {
    fill: #fff !important;
  }
}

/* TREE VIEW DIAGRAM */
/* icons/logos not supported */
svg[aria-roledescription="treeView"] {
  .treeView-node-label {
    fill: var(--mermaid-text-primary) !important;
  }

  .treeView-node-line {
    stroke: var(--mermaid-text-primary) !important;
  }
}

