---
import type { CollectionEntry } from "astro:content";
import { commentConfig } from "@/config";

import Giscus from "./Giscus.svelte";

interface Props {
	post?: CollectionEntry<"posts">;
	lang?: string;
}
const { lang } = Astro.props;

// const { post } = Astro.props;
// const path = post ? `/posts/${post.id}` : Astro.url.pathname;
// const url = `${Astro.site?.href || Astro.url.origin}${path}`;

let commentService = "";
if (commentConfig?.giscus) {
	commentService = "giscus";
}
---

<div class="card-base p-6 mb-4">
  {commentService === 'giscus' && <Giscus client:only="svelte" lang={lang} />}
  {commentService === '' && null }
</div>